* {
    box-sizing: border-box;
    margin: 0;
}

.sobre {
    color: rgb(167, 1, 1);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
    margin: 20px;
}

.titulo{
    color: rgb(139, 1, 167);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 10rem; 
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.cabecalho{
    background-image: url("img/sheet-music-1136234_1920.png");
    background-size: contain;
    border: 2px solid darkgray;
    color: #000; text-shadow: 1px 1px 0 #fff;
    height: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center;    
}


body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("img/PngtreebrilliantMusicNotes4343120.png");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: initial, fixed;
    background-blend-mode:lighten;
  }


   /* Grid styles -------------------------------------------------*/
   .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 2fr));
    grid-gap: 15px;
    max-width: 1100px;
    margin: 0 auto 30px;  
  }


  article {
    position: relative;
  }
  
  .article-img {
    width: 100%;
    object-fit: cover;
  }
  
  .article-title {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
  }

.rodape__paragrafo {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(109, 0, 131);
    margin-bottom: 1px;
    font-size: 1rem;
}
.rodape__paragrafo2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 30px;
    font-size: 1rem;
}